@import "./utils";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(
    left,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 235, 254, 1) 0%,
    rgba(83, 83, 235, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 235, 254, 1) 0%,
    rgba(83, 83, 235, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(2, 0, 36, 1) 0%,
    rgba(143, 235, 254, 1) 0%,
    rgba(83, 83, 235, 1) 100%
  );

  @include flex(center, start, initial);
  height: 100vh;
  overflow: hidden;
}

main {
  width: 50%;
  @include flex(initial, initial, column);

  .backdrop {
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 3;

    &.open {
      visibility: visible;
      pointer-events: all;
    }
  }

  .sidebar-btn {
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-self: center;
    padding: 0.3rem;
    position: absolute;
    z-index: 10;
    top: 1%;
    left: 1%;
    cursor: pointer;

    line {
      transition: all 0.5s;
      opacity: 1;
    }
  }

  .sidebar.open ~ .sidebar-btn {
    #one {
      opacity: 0;
    }
    #two {
      transform: rotate(42deg) translate(5px, -5px);
    }
    #three {
      transform: rotate(-41deg) translate(-11px, -1px);
    }
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar {
    @include flex(space-evenly, center, column);
    transition: all 0.3s;
    width: 20rem;
    height: 100vh;
    position: absolute;
    background: rgb(46, 46, 46);
    opacity: 1;
    z-index: 5;
    top: 0;
    left: 0;
    color: white;
    transform: translateX(-100%);

    a {
      width: 100%;
      height: 100%;
    }

    .popular-city {
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      cursor: pointer;

      .city-img {
        max-width: 100%;
        opacity: 0.5;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .info {
        @include flex(initial, start, column);
        align-self: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        padding: 1rem;

        .title {
          font-size: 1.7rem;
          width: 100%;
          @include flex(space-between);
        }
        .description {
          @include flex(initial, start, column);
          margin: 1rem 0;
        }
        img {
          position: absolute;
          left: 65%;
          top: 20%;
        }
        .details {
          @include flex(initial, initial, column);
        }
      }
    }
  }

  .input-section {
    margin: 2rem auto;
    text-align: center;

    h1 {
      font-family: $main-font;
      letter-spacing: 0.5rem;

      .date {
        background: linear-gradient(
          90deg,
          rgba(185, 185, 249, 1) 8%,
          rgba(212, 188, 188, 1) 63%
        );
        border-radius: 20px;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        padding: 0.2rem 1.2rem;
      }
    }

    form {
      margin-top: 3rem;
      position: relative;
      @include flex(center);

      input {
        width: 50%;
        border: $outline;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
      }

      button {
        @include main-button();
      }
      .btn-section {
        display: flex;
      }

      .reload {
        @include flex(center, center, initial);
        margin-left: 0.5rem;

        .reload-img {
          position: relative;
          left: 3px;
          transition: all 0.5s;
        }
        &:hover .reload-img {
          transform: rotate(90deg);
        }
      }
    }
  }

  .result-section {
    .city {
      margin: 1rem auto;
      background-color: white;
      box-shadow: inset 0 0 5px #000000;
      border-radius: 15px;
      padding: 1rem;
      width: 35%;
      color: #000;
      font-family: $btn-font;

      .temperature {
        font-size: 2rem;
        display: flex;
        align-items: center;
        .icon-temp {
          font-size: 1rem;
          position: relative;
          bottom: 5px;
          left: 2px;
        }
      }

      .description {
        img {
          position: relative;
          left: -20px;
        }
        p {
          position: relative;
          top: -20px;
        }
      }
      span p {
        text-transform: uppercase;
        font-size: 0.5rem;
      }
    }
  }
  .loader {
    display: none;
    padding: 3px 3px 0 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    border-radius: 50%;
    opacity: 0.5;

    .lds-spinner {
      color: official;
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-spinner div {
      transform-origin: 40px 40px;
      animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background: #fff;
    }
    .lds-spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
    background: url($background-img);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    overflow: visible;
  }

  main {
    min-width: 100%;
    padding: 1rem;

    .backdrop {
      display: none;
    }

    .sidebar.open {
      transform: translate(0, 0);
    }

    .sidebar {
      width: 100vw;
      height: initial;
      padding: 2rem 0;
      transform: translate(0, -100%);
      overflow: hidden;

      a:first-child {
        .title {
          padding-top: 0;
        }
      }

      .popular-city {
        position: relative;

        .city-img {
          width: 100%;
          position: relative;
          z-index: 0;
          opacity: 1;
          img {
            opacity: 0.5;
          }
        }

        .info {
          position: absolute;

          .title {
            font-size: 2rem;
          }
          .details {
            font-size: 1.5rem;
          }
        }
      }
    }

    .input-section {
      h1 {
        text-align: left;
        padding-left: 1.5rem;
      }

      form {
        flex-direction: column-reverse;
        align-items: center;

        input {
          margin-top: 0.5rem;
          margin-right: 0rem;
          padding: 0.5rem;
          width: 100%;
          font-size: 1.5rem;
        }
        .btn-section {
          display: flex;
          width: 100%;

          button {
            padding: 0.2rem;
            width: 100%;
            font-size: 1.5rem;
          }

          .submit {
            display: inline-block;
          }
        }
      }
    }

    .result-section {
      .city {
        width: 50%;
      }
    }

    .loader {
      top: 40%;
      left: 40%;
    }
  }
}
